.createRecipeContainer{
    width: 100%;
    min-height: 100vh;
}

.createRecipeContainer form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgba(1, 1, 1, .5);
    width: 50%;
    min-height: 75vh;
    margin: 10px auto;
    padding: 25px 50px;
    box-shadow: 1px 1px 10px white;
}

.createRecipeContainer form input,
.createRecipeContainer form textarea{
    color: black;
}