.createRecipeContainer{
    width: 100%;
    min-height: 100vh;
}

.createRecipeContainer form{
    display: flex;
    flex-direction: column;
    width: 50%;
    min-height: 50vh;
    margin: 10px auto;
    padding: 25px 50px;
    box-shadow: 1px 1px 10px white;
}

.createRecipeContainer form input,
.createRecipeContainer form textarea{
    color: black;
}