.homeContainer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-left: 1vw;
    
}

@media (max-width: 950px){
    .homeContainer{
        display: flex;
        flex-direction: column;
    }
}